*{
    padding: 0;
    margin: 0;
}
body{
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: inter;
}
#container{
   display: block;
   background-color: hsl(0, 0%, 12%);
   border-radius: 15px;
   width: 350px;
}
img{
    display: block;
    border-radius: 100%;
    margin: 20px auto 30px auto;
    height: 90px;
    width: 90px;
}
h1{
    text-align: center;
    margin-bottom: 7px;
    font-size: larger;
}
p{
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
    color: #f0f0f0
}
h6{
    display: block;
    color: hsl(75, 94%, 57%);
    text-align: center;
    margin-bottom: 20px;
}
.sub-con{
    display: block;
    text-align: center;
    margin-bottom: 40px;
}
button{
    display: block;
    text-align: center;
    margin: 13px auto;
    width: 79%;
    padding: 10px 0;
    border-radius: 8px;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    background: hsl(0, 0%, 20%);
    transition: 0.3s ease-in;
}
button:hover,
button:focus{
    color: hsl(0, 0%, 8%);
    background-color: hsl(75, 94%, 57%);
}